<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <p class="pure-menu-heading"> Medical Diagnosis App </p>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"> <a href="" class="pure-menu-link">Main Menu</a></li>
            <li class="pure-menu-item"> <a href="transfusion" class="pure-menu-link">Transfusion</a></li>
            <li class="pure-menu-item"> <a href="vertigo" class="pure-menu-link">Vertigo</a></li>
       
          </ul>
    </div>
  </div>
  <router-outlet></router-outlet>

  